.create-your-account-page {
    background-color: #f1f2f2;
}

.create-your-account {
    @extend .container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xl) {
        height: auto;
    }

    &__grid {
        @extend .row;
        justify-content: center;
        margin: 2.5rem auto 4rem;
        width: 100%;

        @include media-breakpoint-up(sm) {
            margin: 2.5rem 1.5rem 4rem;
        }
    }
    
    &__card {
        @extend .col-md-9;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
        padding: 1rem;
        border-radius: .375rem;
        background-color: #fff;

        @include media-breakpoint-up(sm) {
            padding: 2rem 4rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 2rem 9rem;
        }
    }

    &__header {
        text-align: center;
        margin-bottom: 2.5rem;

        a {
            color: #58595B;
            font-weight: 500;
        }
    }

    &__headline {
        font-size: 20px;
        margin-bottom: .25rem;
        display: block;

        @include media-breakpoint-up(md) {
            font-size: 28px;
        }
    }

    &__main {
        label {
            margin-bottom: .25rem;
        }
    }

    &__input-group {
        margin-bottom: 1rem;
        
        input {
            color: inherit;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }

        a {
            font-weight: 500;
            color: #58595B;
        }

        button {
            @extend .btn;
            background: linear-gradient(90deg, rgba(45, 52, 138, 1) 0%, rgba(49, 94, 170, 1) 36.67%, rgba(52, 113, 184, 1) 73.59%, rgba(53, 159, 216, 1) 100%);
            color: #fff;
            border-radius: .375rem;
            border: none;
            font-size: inherit;
            padding: .375rem 1.75rem;
            margin-top: .5rem;

            @include media-breakpoint-up(sm) {
                margin-top: 0;
            }
        }
    }
}
